/* body */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}
/* header */
header { 
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    justify-content: space-between;
}
/* header list */
ul {
    display: flex;
    list-style: none;
}
/* header links */
a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
    margin-right: 90px;
}
/* header logo */
header p {
    margin-left: 90px;
}

/* hero */
.hero {
    display: flex;
    margin: 90px;
    background-color: #1F2937;
    margin: 0;
    padding: 90px;
    color: #F9FAF8;
}
/* hero image */
.hero img {
    height: auto;
    width: 300px;
}
/* hero text */
.hero p {
    margin-right: 30px;
}
/* hero button */
.hero button {
    background-color: #3882F6;
}
/* information flexbox */
.information {
    display: flex;
    margin: 90px;
}
/* info images */
.information img {
    width: 150px;
    margin: 10px;
    
}
