/* body */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif;
}
/* header */
header { 
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    justify-content: space-between;
}
/* header logo */
header p {
    margin-left: 90px;
}
/* header list */
ul {
    display: flex;
    list-style: none;
}
/* header links */
a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    margin-right: 90px;
}
a:hover {
    color: grey;
    text-decoration: underline;
}
/* hero */
.hero {
    display: flex;
    margin: 90px;
    background-color: #1F2937;
    margin: -25px 0 0 0;
    padding: 90px;
    color: #F9FAF8;
    justify-content: center;
    flex-wrap: wrap;
}
/* hero image */
.hero img {
    height: auto;
    width: 500px;
    border-radius: 4px;
    margin-top: 75px;
}
/* hero header */
.hero h1 {
    font-size: 48px;
    font-weight: 900;
}
/* hero text */
.hero p {
    width: 500px;
    margin-right: 75px;
    font-size: 18px;
    color: #E5E7EB;
}
/* hero button */
.hero button {
    background-color: #3882F6;
    border-radius: 4px;
    border: transparent;
    color: #F9FAF8;
    padding: 8px 26px;
}
/* information flexbox */
.information {
    display: flex;
    flex-direction: column;
    margin: 90px;
    justify-content: center;
    align-items: center;
}
/* information title */
.information .title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-top: -20px;
}
/* information image container */
.information .images {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: -20px;
}
/* info images */
.information img {
    width: 250px;
    border-radius: 4px; 
}
/* information text */
.information p {
    text-align: center;
}
/* quote */
.quote {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 0;
    background-color: #E5E7EB;
}
/* speech */
.quote .speech {
    font-size: 36px;
    font-style: italic;
    margin: 60px 150px 0px 150px;
    align-self: flex-start;

}
/* speaker */
.quote .speaker {
    font-size: 18px;
    font-weight: 550;
    align-self: flex-end;
    margin-right: 150px;
    margin-bottom: 60px;
}
/* call to action */
.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    margin: 90px;
    border-radius: 15px;
    justify-content: center;
    gap: 75px;
}
/* call to action text */
.call-to-action .left {

}
/* call to action button */
.call-to-action button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: solid white;
    border-radius: 4px;
    padding: 8px 26px;
}
/* footer */
footer {
    background-color: #1F2937;
    text-align: center;
    color: #F9FAF8;
    margin: 0;
    padding: 10px;
}
